<header>
  <h1>{{ boardTitle }}</h1>
  <button mat-button class="create-board" (click)="showCreateForm = !showCreateForm">Create new board</button>
  <div class="create-board-form" *ngIf="showCreateForm">
    <h1 mat-dialog-title class="dialog-title">Create new board</h1>
    <div mat-dialog-content class="form-container">
        <form #createForm = 'ngForm' (submit)="createBoard()">
            <div class="form-group">
                <label for="boardTitle">Board name:</label><br>
                <input type="text" id="inputField" name="boardTitle" placeholder="Enter board name" [(ngModel)]="boardTitle" required><br>
            </div>
            <div class="alert" *ngIf="createForm.controls['boardTitle'].touched && createForm.controls['boardTitle'].invalid">Board name is required...</div>
            <br>
            <div class="form-buttons">
                <button mat-button class="submit_btn" type="submit" [disabled]="createForm.invalid">Submit</button>
                <button mat-button class="cancel_btn" (click)="cancelForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>
  <button mat-button>Find board</button>
</header>